.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #010101;
}

.nav {
  background-color:#f1f1f1;
  color: #010101;
}

.nav__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0;
  padding: 0 12px;
}

.nav__item {
  margin-right: 15px;
  line-height: 2.5;
}

.nav__item a {
  text-decoration: none;
  color: inherit;
}

.form fieldset {
  padding: 30px;
}

.form__input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.form__field {
  display: block;
  width: 100%;
  line-height: 2.5;
  padding-left: 8px;
}

