.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #010101;
}

.nav {
  background-color:#f1f1f1;
  color: #010101;
}

.nav__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav__item {
  padding: 0 15px;
  line-height: 2.5;
}

.nav__item a {
  text-decoration: none;
  color: inherit;
}

