* {
  box-sizing: border-box;
}
body {
  margin-left: 400px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  padding: 0 15px;
}

header > h1 {
  font-size: 1.25rem;
}

ul {
  border-bottom: 2px solid gray;
  padding-bottom: 20px;
}

h2 {
  line-height: 2;
}

/* forms */

.form {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
}

.form__fieldset {
  padding: 30px;
}

.field, .field__title, .field__content {
  display: block;
  width: 100%;
}

.field {
  margin-bottom: 10px;
}

.field__title {
  margin-bottom: 3px;
  font-size: .85rem;
}

.field__content {
  line-height: 2;
  padding: 0 5px;
}