* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 225px;
  padding: 0 8px;
  background-color: darkslategray;
  color: white;
}

header h1 {
  text-align: center;
  color: white;
  font-size: 1.25rem;
}

header p {
  text-align: center;
}

header a {
  color: inherit;
}

nav h4 {
  text-align: center;
}

main {
  margin-left: 250px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

