body {
  width: 95%;
  max-width: 960px;
  margin-left: 500px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 20px;
}


