* {
  box-sizing: border-box;
}
body {
  margin-left: 400px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  padding: 0 15px;
}

header > h1 {
  font-size: 1.25rem;
}

ul {
  border-bottom: 2px solid gray;
  padding-bottom: 20px;
}

h2 {
  line-height: 2;
}

/* forms */

fieldset {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-style: solid;
  border-color: darkslategray;
}

.fieldgroup {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

}

.input {
  display: block;
  flex: auto;
  padding: 8px;
}

.input__title {
  display: block;
  margin-bottom: 3px;
  color: darkslategray;
}

.input__field {
  display: block;
  width: 100%;
  line-height: 3;
  padding-left: 8px;
  padding-right: 8px;
}

.input--textarea textarea {
  height: 100px;
}

.btngroup {
  text-align: center;
}

form legend {
  background-color: darkslategray;
  color: white;
  padding: 10px 12px;
}

form button {
  padding: 10px 25px;
  font-size: 1rem;
  background-color: darkslategray;
  color: white;
  border-color: darkslategray;
}