body {
  width: 95%;
  max-width: 960px;
  margin-left: 500px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header ul {
  border-bottom: 3px solid gray;
  padding-bottom: 20px;
}

ul {
  border-bottom: 2px solid gray;
  padding-bottom: 20px;
}

h2 {
  line-height: 2;
}


