* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4a4a4a;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 8px;
  background-color: #4a4a4a;
  color: #f0f0f0;
  z-index: 1;
}

.header__title {
  margin: 0;
  font-size: 1rem;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  padding: 8px;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  border: #4a4a4a 2px dotted;
  -webkit-transition: .27s;
  transition: .27s;
}

.nav__link:hover {
  border-bottom-color: #969696;
}

.nav__link:focus {
  border-color: #969696;
  outline: none;
}

.nav__link:active {
  border-style: solid;
}

.main {
  padding: 50px;
  padding-left: 180px;
}

.main__title {
  margin-top: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 150px;
  background-color: #f0f0f0;
  padding-top: 50px;
}

.sidebar__title {
  padding-left: 8px;
}

.sidebar__list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.sidebar__link {
  text-decoration: none;
  color: inherit;
}

.sidebar__item {
  padding-left: 8px;
}

.sidebar__subtitle {
  border-top: 1px solid #969696;
  padding-left: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-top: 12px;
}

.form {
  width: 95%;
}

.form__border {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: dimgray;
}

.form__title {
  background-color: dimgray;
  color: #f0f0f0;
  line-height: 2.25;
  padding-left: 12px;
  padding-right: 12px;
}

.form--narrow {
  max-width: 600px;
}

.form--medium {
  max-width: 750px;
}

.form--large {
  max-width: 960px;
}

.field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #f0f0f0;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.btn-group button {
  margin-right: 5px;
}

.btn-group button:last-child {
  margin-right: 0;
}

.field {
  position: relative;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  font-size: .9rem;
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.field__title {
  display: block;
  color: dimgray;
}

.field__content {
  display: block;
  width: 100%;
  font-size: .9rem;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #969696;
}

.field__content:focus {
  outline-color: dimgray;
}

.field--textarea {
  min-height: 125px;
}

.field__msg {
  position: absolute;
  display: none;
  font-size: .75rem;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 2px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: dimgray;
  color: #f0f0f0;
}

.btn:hover {
  background-color: #5f5f5f;
}

.btn:active {
  background-color: #4a4a4a;
}

.btn__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  height: 100%;
}

.btn__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  height: 100%;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.08);
}
