form {
  width: 95%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  padding: 20px;
}

legend {
  padding: 10px 15px;
  background-color: $primary-darkest;
  color: $white;
}

label {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

input, textarea {
  display: block;
  width: 100%;
  line-height: 2;
  padding: 0 8px;
}

