.form {
  width: 95%;
  &__border {
    padding: {
      top: 20px;
      bottom: 20px;
      right: 20px;
      left: 20px;
    }
    border: {
      style: solid;
      width: 1px;
      color: $primary;
    }
  }
  &__title {
    background-color: $primary;
    color: $white;
    line-height: 2.25;
    padding: {
      left: 12px;
      right: 12px;
    }
  }
  &--narrow {
    max-width: 600px;
  }
  &--medium {
    max-width: 750px;
  }
  &--large {
    max-width: 960px;
  }
}

