.header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $barWidth;
  background-color: $primary;
  color: $white;
  font-size: .8rem;
  h1, h2, h3 {
    text-align: center;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  ul {
    padding-left: 0;
   list-style-type: none;
  }
  li {
    line-height: 1.75;
    text-align: center;
    border: 1px solid transparent;
  }
  li.active {
    border-color: $white;
  }
}