.header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $barWidth;
  background-color: $primary;
  color: $white;
  h1, h2, h3 {
    text-align: center;
  }
  a {
    color: inherit;
  }
}