.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px;
  background-color: $primary-darkest;
  color: $white;
  z-index: 1;
  &__title {
    margin: 0;
    font-size: 1rem;
  }
}