.nav {
  &__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    padding: 8px;
  }
  &__link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    border: $primary-darkest 2px dotted;
    transition: .27s;
    &:hover {
      border-bottom-color: $primary-lightest;
    }
    &:focus {
      border-color: $primary-lightest;
      outline: none;
    }
    &:active {
      border-style: solid;
    }
  }
}