.nav {
  &__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    padding: 8px;
  }
  &__link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    &:hover {}
    &:focus {
      outline: none;
    }
    &:active {}
  }
}